// Color Palette
$color-primary-darkest: #0C6B58;
$color-primary-darker: #147D64;
$color-primary-dark: #199473;
$color-primary: #27AB83;
$color-primary-light: #3EBD93;
$color-primary-lighter: #65D6AD;
$color-primary-lightest: #8EEDC7;
$color-secondary-light: #C6F7E2;
$color-secondary-lightest: #EFFCF6;