// Color Palette
$color-primary-darkest: #0c6b58;
$color-primary-darker: #147d64;
$color-primary-dark: #199473;
$color-primary: #27ab83;
$color-primary-light: #3ebd93;
$color-primary-lighter: #65d6ad;
$color-primary-lightest: #8eedc7;
$color-secondary-light: #c6f7e2;
$color-secondary-lightest: #effcf6;
